<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moringa.myquotes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.com.moringa.myquotes.SavedReadListActivity"></activity>
        <activity android:name="com.example.com.moringa.myquotes.ReadDetailActivity" />
        <activity android:name="com.example.com.moringa.myquotes.MainActivity" />
        <activity android:name="com.example.com.moringa.myquotes.CreateAccountActivity" />
        <activity android:name="com.example.com.moringa.myquotes.PicActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.com.moringa.myquotes.MainActivity" />
        </activity>
        <activity android:name="com.example.com.moringa.myquotes.ReadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.com.moringa.myquotes.MainActivity" />
        </activity>
        <activity android:name="com.example.com.moringa.myquotes.AddActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.com.moringa.myquotes.MainActivity" />
        </activity>
        <activity android:name="com.example.com.moringa.myquotes.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>